{{#each error}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div class="card mt-4">
    <div class="card-body">
        <form action="/admin/pdvs/add_pdv" method="post">
            <table class="table table-bordered table-flex">
                <p>Cadastro de Terminal PDV</p>
                <thead class="bg-info">
                    <tr>                            
                        <th scope="col">Nº Controle</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Nº Serie</th>                                
                    </tr>
                </thead>
                <tbody>
                    <tr>                                
                        <td>
                            <input class="form-control" type="number" name="nControle" >
                        </td>
                        <td>
                            <select class="form-control" name="empresa">
                                <option value="selecione">-----Selecione-----</option>
                                <option value="Viação Regional">Viação Regional</option>
                                <option value="Viação Jaua">Viação Jaua</option>
                            </select>
                        </td>
                        
                        <td>
                            <select class="form-control" name="modelo">
                                <option value="selecione">-----Selecione-----</option>
                                <option value="Clielo Lio V1 - Azul">Clielo Lio V1 - Azul</option>
                                <option value="Cielo Lio V2 - Preta">Cielo Lio V2 - Preta</option>
                                <option value="Bematech Smart POE">Bematech Smart POE</option>
                            </select>
                        </td>
                        <td><input class="form-control" type="number" name="nSerie"></td>
                    </tr>                                    
                </tbody>
            </table>
            <button class="btn btn-success" type="submit">Salvar</button>
        </form>    
    </div>
</div>

<div class="card mt-4">    
    <div class="card-body">        
        <form action="/admin/pdvs/dell_pdv" method="post">
        <table class="table table-bordered table-flex">
                        <p>Terminais Cadastraddos</p>
                        <thead class="bg-info">
                            <tr>
                                <th scope="col">-</th>    
                                <th scope="col">Nº Controle</th>
                                <th scope="col">Empresa</th>
                                <th scope="col">Modelo</th>
                                <th scope="col">Nº Serie</th>
                            </tr>
                        </thead>
                        {{#each pdvs}}
                        <tbody>
                            <tr>
                                <th scope="row"><input type="checkbox" name="ident" value="{{_id}}"></th>
                                <td><a href="/admin/ver_pdv/{{_id}}">{{nControle}}</a></td>
                                <td>{{empresa}}</td>
                                <td>{{modelo}}</td>
                                <td>{{nSerie}}</td>
                            </tr>                                    
                        </tbody>                                        
                        {{else}}            
                            Não foram econtrados pdvs Cadastrados
                        {{/each}}
                    </table>    
            <button class="btn btn-danger" type="submit">Excluir</button>
        </form>
    </div>
</div>